---

---

<div
  class="relative top-0 dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 gap-1 overflow-hidden px-3 py-2 text-ellipsis whitespace-nowrap text-center"
>
  <a href="https://github.com/Leppy-oss/CenterStageSimulator/" target="_blank" class="hover:underline dark:text-slate-400 font-medium"
    >⇒ Click here to check out my latest project on Github! ⇐</a
  >
</div>
