---
---

<div class="w-full">
  <canvas id="home-canvas" class="min-w-full"></canvas>
  <script>
    import Two from 'two.js';
    const rocketImg = new Image(500, 500); rocketImg.src = '/src/assets/images/canvas/rocket.png';
    const canvas = document.getElementById('home-canvas') as HTMLCanvasElement;
    // const ctx = canvas.getContext('2d');
    const two = new Two({
      fitted: true,
      domElement: canvas
    }).appendTo(document.getElementById('background-home'));

    two.update();
  </script>
</div>
