---
---

<div class="w-full">
  <canvas id="home-canvas"></canvas>
  <script>
    import Two from 'two.js';
    const rocketImg = new Image(500, 500); rocketImg.src = '/src/assets/images/canvas/rocket.png';
    const canvas = document.getElementById("home-canvas") as HTMLCanvasElement;
    const ctx = canvas.getContext("2d");
    const params = {
      fitted: true,
      domElment: canvas,
    };
    const two = new Two(params).appendTo(document.body);
    canvas.style.position = 'fixed';
    canvas.style.backgroundColor = 'red';
    two.makeRectangle(200, 200, 500, 500);
    two.update();
    ctx.drawImage(rocketImg, 100, 100);
  </script>
</div>
