---
import BackgroundCanvas from "./BackgroundCanvas.astro";
---

<div id="background-home" class="-z-50 min-h-screen min-w-full fixed inset-0">
  <BackgroundCanvas class="-z-50 min-h-screen min-w-full fixed inset-0" />
</div>
